{% extends 'base.html.twig' %}

{% block body %}

<div id="wrapper" class="pt-5">
    <div id="container">
        <h2 class="page-header">Latest Todos</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">To do</th>
                    <th scope="col">Due Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in todos %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.name }}</td>
                        <td>{{ item.dueDate|date('F j, g:i: a') }}</td>
                        <td>
                            <a href="todos/details/1" class="btn btn-primary">View</a>
                            <a href="todos/edit/1" class="btn btn-warning">Edit</a>
                            <a href="todos/delete/1" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}